<div class="content">
	<div class="content__middle">
		<div class="content__middle--instagram">
			<ul>
				<li><img src=".././images/1.jpg" /></li>
				<li><img src=".././images/2.jpg" /></li>
				<li><img src=".././images/3.jpg" /></li>
				<li><img src=".././images/4.jpg" /></li>
			</ul>
		</div>
		<div class="content__middle--blocks">
			<ul>
				<li class="content__middle--blocks-one"><a href="#servicos"><span>Tratamento</span> <span> <strong>Odontológico</strong></span></a></li>
				<li class="content__middle--blocks-two"><a href="#servicos"><span></span></a></li>
				<li class="content__middle--blocks-three"><a href="#servicos"><span>Lentes</span> <span><strong>de Contato</strong></span></a></li>
			</ul>
		</div>
	</div>
	<div class="content__head" id="quem-somos">
		<div class="content__head--title">
			<span>Quem Somos</span>
		</div>
		<div class="content__head--text">
			<span>Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Interagi no mé, cursus quis, vehicula ac nisi. Casamentiss faiz malandris se pirulitá.

			Diuretics paradis num copo é motivis de denguis. Si num tem leite então bota uma pinga aí cumpadi! Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Viva Forevis aptent taciti sociosqu ad litora torquent.

			Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Copo furadis é disculpa de bebadis, arcu quam euismod magna.</span>

			<span>Atirei o pau no gatis, per gatis num morreus. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Per aumento de cachacis, eu reclamis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.

			Pra lá , depois divoltis porris, paradis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Mé faiz elementum girarzis, nisi eros vermeio. Aenean aliquam molestie leo, vitae iaculis nisl.

			Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. A ordem dos tratores não altera o pão duris. Cevadis im ampola pa arma uma pindureta. Sapien in monti palavris qui num significa nadis i pareci latim.</span>
		</div>
	</div>
	<div class="content__services" id="servicos">
		<div class="jarallax">
			<img class="jarallax-img" src=".././images/parallax-image.png" />
		</div>
		<div class="content__services--title">
			<span>Nossos Serviços</span>
		</div>
		<div class="content__services--text">
			<div class="block-one">
				<span class="title-services">Exames de Rotina</span>
				<ul>
					<span>Aparelhos ortodônticos</span> <span>Implantes</span> <span>Clareamento Dental</span>
				</ul>
			</div>
			<div class="block-two">
				<span class="title-services">Invisalign</span>
				<span>INVISALIGN é a alternativa quase invisível aos aparelhos ortodônticos convencionais, porque ao invés de movimentar os dentes por meio de peças coladas  aos dentes do paciente, o INVISALIGN utiliza jogos de moldeiras  sequenciais removíveis, chamadas de alinhadores, que são feitos sob medida para cada etapa do tratamento. Estes alinhadores  são praticamente invisíveis e reposicionam seus dentes passo a passo para conseguir o sorriso que você deseja.</span>
			</div>
			<div class="block-three">
				<span class="title-services">Lente de Contato</span>
				<span>As lentes de contato dentais são facetas ultrafinas de porcelana, que são aplicadas sobre a superfície do dente para recobrir manchas ou melhorar a forma de dentes desgastados, promovendo boa estética. ... Essas facetas podem alterar de forma impressionante o sorriso de uma pessoa e ajudam a melhorar sua autoconfiança.</span>
			</div>
		</div>
	</div>
	<div class="content__information" id="information">
		<ul>
			<li><span class="number">8</span><span>Anos de experiência</span></li>
			<li><span class="number">300</span><span>Clientes sorrindo</span></li>
			<li><span class="number">30</span><span>Certificações</span></li>
			<li><span class="number">10</span><span>Membros da equipe</span></li>
		</ul>
	</div>
	<div class="content__doctors" id="doctors">
		<div class="content__doctors--title">Nossos Dentistas</div>
		<div class="content__doctors--images">
			<div class="content__doctors--images-one"><img src=".././images/Maria-Jose.jpeg"><span class="name">Dra. Maria José</span><span>Ortodontista</span></div>
			<div class="content__doctors--images-two"><img src=".././images/Paulo-Silvestrini.jpeg"><span class="name">Dr. Paulo Silvestrini</span><span>Ortodontia</span><span>Reabilitação Oral</span></div>
		</div>
	</div>
	<div class="content__bottom" id="localizacao">
		<div class="content__bottom--title">
			<span>Fale conosco</span>
		</div>
		<div class="content__bottom--address">
			<span class="content__bottom--address-title">Nosso Endereço</span>
			<span class="content__bottom--address-text">Rua Sergipe, 401 - Sala 102
			Higienopolis - São Paulo/SP - CEP: 01243-906 - Tel: (11) 3255-5246</span>
		</div>
		<div class="content__bottom--hours">
			<span class="content__bottom--hours-title">Horários</span>
			<span class="content__bottom--hours-text">Segunda a sexta das 08:00 ás 19:00</span>
		</div>
		<div class="content__bottom--map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.561674518541!2d-46.65992338555394!3d-23.54826266699258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5830ee13a491%3A0xae4cab9f5f112647!2sRua+Sergipe%2C+401+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01243-001!5e0!3m2!1spt-BR!2sbr!4v1534710739491" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>