@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
body {
    overflow-x: hidden;
}
.content {
    font-family: 'Lato', sans-serif;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    &__head {
        padding: 1em;
        font-family: 'Lato', sans-serif;
        top: -50px;
        position: relative;
        &--title {
            padding: 0 0 60px;
            span {
                display: inline-block;
                text-align: center;
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: #02b8bf;
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: #02b8bf;
                    display: block;
                    margin: 0 auto;
                    margin-top: 35px;
                }
            }
        }
        &--text {
            display: flex;
            flex-direction: row;
            line-height: 35px;
            padding: 0px 50px;
            span {
                width: 60%;
                padding: 0 60px;
                color: #696969;
                font-size: 17px;
                &:first-child {
                    border-right: 1px solid #696969;
                }
            }
        }
    }
    &__services {
        &--title {
            position: relative;
            top: 20px;
             span {
                display: inline-block;
                text-align: center;
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: #fff;
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    display: block;
                    margin: 0 auto;
                    margin-top: 35px;
                }
            }
        }
        &--text {
            display: flex;
            position: relative;
            top: 50px;
            text-align: center;
            width: 100%;
            justify-content: space-around;
            &-first {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                height: 400px;
                .block-one {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.2);
                    span {
                        color: #fff;
                        &.title-services {
                            display: block;
                            font-size: 20px;
                            padding: 0 0 20px;
                        }
                    }
                }
                .block-two {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.2);
                    span {
                        color: #fff;
                        &.title-services {
                            display: block;
                            font-size: 20px;
                            padding: 0 0 20px;
                        }
                    }
                }
            }
            &-second {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                height: 400px;
                .block-three {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.2);
                    span {
                        color: #fff;
                        &.title-services {
                            display: block;
                            font-size: 20px;
                            padding: 0 0 20px;
                        }
                    }
                }
                .block-four {
                    width: 400px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgba(255, 255, 255, 0.2);
                    span {
                        color: #fff;
                        &.title-services {
                            display: block;
                            font-size: 20px;
                            padding: 0 0 20px;
                        }
                    }
                }
            }
        }
    	.jarallax {
            z-index: 0;
		    position: absolute;
		    width: 100%;
		    height: 700px;
		}
		.jarallax > .jarallax-img {
		    position: absolute;
		    object-fit: cover;
		    /* support for plugin https://github.com/bfred-it/object-fit-images */
		    font-family: 'object-fit: cover;';
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: -1;
		}
    }
    &__information {
        margin-top: 178px;
        display: flex;
        justify-content: space-around;
        height: 200px;
        align-items: center;
        background: #07bc83;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            li {
                display: flex;
                flex-direction: column;
                text-align: center;
                span {
                    font-size: 20px;
                    color: #fff;
                    &.number {
                        font-size: 70px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &__doctors {
        &--title {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #02b8bf;
            padding: 30px 0;
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                background: #02b8bf;
                display: block;
                margin: 0 auto;
                margin-top: 35px;
            }
        }
        &--images {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            &-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 250px;
                    height: 300px;
                }
                span {
                    font-size: 20px;
                    &.name {
                        padding-top: 20px;
                        font-size: 30px;
                        letter-spacing: 2px;
                    }
                }
            }
            &-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 250px;
                    height: 300px;
                }
                span {
                    font-size: 20px;
                    &.name {
                        padding-top: 20px;
                        font-size: 30px;
                        letter-spacing: 2px;
                    }
                }
            }
            &-three {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    width: 250px;
                    height: 300px;
                }
                span {
                    font-size: 20px;
                    &.name {
                        padding-top: 20px;
                        font-size: 30px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
    &__parallax {
        .jarallax {
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 700px;
        }
        .jarallax > .jarallax-img {
            position: absolute;
            object-fit: cover;
            /* support for plugin https://github.com/bfred-it/object-fit-images */
            font-family: 'object-fit: cover;';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    &__middle {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: auto;
        max-height: 900px;
        &--title {
            font-size: 20px;
            margin: 30px 0;
            text-align: center;
        }
        &--blocks {
            display: flex;
            justify-content: center;
            position: relative;
            top: -200px;
            z-index: 1000;
            ul {
                display: flex;
                width: 100%;
                justify-content: center;
                text-align: center;
                li {
                    height: 200px;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    a {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 25px;
                    }
                    &.content__middle--blocks-one {
                        background: rgba(11, 182, 190, 0.52);
                        border-bottom: 10px solid #0bb6be;
                        a {
                            height: 100px;
                            width: 100%;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                        }
                    }
                    &.content__middle--blocks-two {
                        background: rgba(31, 145, 204, 0.51);
                        border-bottom: 10px solid #1f91cc;
                        a {
                            height: 100px;
                            width: 100%;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                        }
                    }
                    &.content__middle--blocks-three {
                        background: rgba(7, 188, 131, 0.51);
                        border-bottom: 10px solid #07bc83;
                        a {
                            height: 100px;
                            width: 100%;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: center;
                        }
                    }
                    span {
                        display: block;
                    }
                }
            }
        }
        &--instagram {
            ul {
                display: flex;
                justify-content: space-around;
                width: 100%;
                .slick-next {
                    background: url(./../../../images/next-slick-arrow.png) no-repeat center;
                    width: 40px;
                    height: 50px;
                    border: none;
                    font-size: 0;
                    margin-top: 30%;
                    cursor: pointer;
                }
                .slick-prev {
                    background: url(./../../../images/prev-slick-arrow.png) no-repeat center;
                    width: 40px;
                    height: 50px;
                    border: none;
                    font-size: 0;
                    margin-top: 30%;
                    cursor: pointer;
                }
                .slick-list {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    max-height: auto;
                    .slick-slide {
                        display: inline-block;
                        li {
                            float: left;
                            display: inline-block;
                            width: 100%;
                            max-width: 100%;
                            max-height: auto;
                            img {
                                height: auto;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__client {
        margin-top: 300px;
        background: #116089;
        height: 400px;
        &--title {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #fff;
            padding: 30px 0;
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                background: #fff;
                display: block;
                margin: 0 auto;
                margin-top: 35px;
            }
        }
        &--text {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 3% 0;
            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #fff;
                span {
                    font-style: italic;
                    &.name{
                        font-style: normal;
                        padding: 20px 0;
                    }
                }
            }
            // &-one {
            //     span {
            //         &.name{
            //             padding: 20px 0;
            //         }
            //     }
            // }
            // &-two {
            //     span {
            //         &.name{
            //             padding: 20px 0;
            //         }
            //     }
            // }
            // &-three {
            //     span {
            //         &.name{
            //             padding: 20px 0;
            //         }
            //     }
            // }
        }
    }
    &__bottom {
        display: inline-block;
        text-align: center;
        width: 100%;
        &--title {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #02b8bf;
            padding: 30px 0;
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                background: #02b8bf;
                display: block;
                margin: 0 auto;
                margin-top: 35px;
            }
        }
        &--address {
            display: inline-block;
            width: 50%;
            float: left;
            margin-bottom: 50px;
            &-title {
                font-size: 30px;
                display: block;
            }
            &-text {
                width: 50px;
                white-space: pre-wrap;
                text-align: center;
                top: 20px;
                position: relative;
                color: #a1a1a1;
            }
        }
        &--hours {
            display: inline-block;
            width: 50%;
            &-title {
                font-size: 30px;
                display: block;
            }
            &-text {
                top: 20px;
                position: relative;
                width: 50px;
                white-space: pre-wrap;
                text-align: center;
                color: #a1a1a1;
            }
        }
        &--map {
            iframe {
                width: 60%;
                height: auto;
                min-height: 600px;
            }
        }
    }
}
