<header>
	<div class="header__top">
		<div class="header__top--left"></div>
		<div class="header__top--center"></div>
		<div class="header__top--button"><a href="#contact">Agende uma consulta</a></div>
	</div>
	<div class="header__band">
		<span class="header__band--title">FF Odontologia</span>
		<span class="header__band--number">Ligue já: (11) 3255-5246</span>
	</div>
	<div class="header__pos">
		<div class="header__pos--menu-desktop">
			<div class="header__pos--menu-desktop--items">
				<ul>
					<li class="items--menu">
						<a href="#quem-somos">Quem Somos</a>
					</li>
					<li class="items--menu">
						<a href="#trabalhos">Nossos Trabalhos</a>
					</li>
					<li class="items--menu">
						<a href="#localizacao">Localização</a>
					</li>
					<li class="items--menu contact">
						<a href="#contact">Contato</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__pos--menu-mobile">
		<div class="header__menu-mobile--hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div class="header__pos--menu-mobile--items">
			<ul>
				<li class="items--menu-mobile">Quem Somos</li>
				<li class="items--menu-mobile">Nossos Trabalhos</li>
				<li class="items--menu-mobile">Localização</li>
				<li class="items--menu-mobile contact-mob">Contato</li>
			</ul>
		</div>
	</div>
</header>