<header>
	<div class="header__top">
		<div class="header__top--left"></div>
		<div class="header__top--center"></div>
		<div class="header__top--right"></div>
	</div>
	<div class="header__band">
		<div class="header__band--logo">
			<h1>FF.Odontologia</h1>
		</div>
		<div class="header__logo">
			<img src="./images/logo-topo.png"/>
		</div>
		<div class="header__band--icons">
			<div class="header__band--icons-whats">
				<span class="text">Agende sua consulta</span>
				<span class="whatsapp"><a href="https://wa.me/whatsappphonenumber/?text=urlencodedtext"></a></span>
			</div>
			<div class="header__band--icons-social">
				<span class="facebook"><a href="#"></a></span>
				<span class="instagram"><a href="#"></a></span>
			</div>
		</div>
	</div>
	<div class="header__pos">
		<div class="header__pos--menu-desktop">
			<div class="header__pos--menu-desktop--items">
				<ul>
					<li class="items--menu">
						<a href="#quem-somos">Quem Somos</a>
					</li>
					<li class="items--menu">
						<a href="#servicos">Serviços</a>
					</li>
					<li class="items--menu">
						<a href="#doctors">Profissionais</a>
					</li>
					<li class="items--menu">
						<a href="#localizacao">Localização</a>
					</li>
					<li class="items--menu contact">
						<a href="#contact">Contato</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>