<footer>
	<div class="footer__share">
		<div class="footer__share--title">
			<span>Siga nas Redes Socias:</span>
		</div>
		<div class="footer__share--icons">
			<div class="footer__share--icons-facebook">
				<a href="#"><img src=".././images/facebook.png"/></a>
			</div>
			<div class="footer__share--icons-instagram">
				<a href="#"><img src=".././images/instagram.png"/></a>
			</div>
			<div class="footer__share--icons-twitter">
				<a href="#"><img src=".././images/twitter.png"/></a>
			</div>
		</div>
	</div>
	<div class="footer__contact" id="contact">
		<div class="footer__contact--form">
		<form action="action/enviar_form.php" method="POST">
		<div class="footer__contact--form-name">
		<input type="text" name="nome" class="form-control form_new" placeholder="Nome"> 
		</div>
		<div class="footer__contact--form-email">
		<input type="text" name="email" class="form-control form_new" placeholder="Email"> 
		</div>
		<div class="footer__contact--form-message">
		<textarea placeholder="Mensagem" class="form-control form_new" name="mensagem" rows="5"></textarea>
		</div>
		<div class="footer__contact--form-button">
		<button class="btn btn_new">Enviar</button>
		</div>
		</form>
		</div>
	</div>
</footer>