<footer>
	<div class="footer__phone">
		<span class="footer__phone--number">11 3255-5246</span><br>
		<span class="footer__phone--text">AGENDE SUA AVALIAÇÃO</span>
	</div>
	<div class="footer__logo">
		<a href="/">
			<img src=".././images/logo.png"/>
		</a>
	</div>
</footer>