header {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
    height: auto;
	flex-direction: column;
	@media (max-width: 992px) {
		padding-bottom: 20px;
	}
    * {
    	transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
    }
	.header {
		&__top {
			display: flex;
			justify-content: space-between;
			background: #fff;
			&--left {
				width: 100%;
				height: 20px;
				background: #0bb6be;
				@media (max-width: 992px) {
					display: none;
				}
			}
			&--center {
				width: 100%;
				height: 20px;
				background: #1f91cc;
				@media (max-width: 992px) {
					display: none;
				}
			}
			&--right {
				width: 100%;
				height: 20px;
				background: #c5933c;
				@media (max-width: 992px) {
					display: none;
				}
			}
		}
		&__band {
			display: flex;
			width: 100%;
		    height: 100px;
			justify-content: space-between;
			background: #fff;
			color: #1f91cc;
			align-items: center;
			padding: 0 30px;
			@media (max-width: 992px) {
				flex-direction: column;
				height: auto;
				padding: 0;
			}
			.header__logo {
				@media (max-width: 992px) {
					width: 150px;
				}
			}
			&--logo {
			    width: 200px;
			    height: auto;
			    display: inline-block;
			    @media (max-width: 992px) {
					text-align: center;
					padding: 20px 0;
			    }
			    span {
					font-size: 30px;
					font-family: 'Open Sans', serif;
					text-transform: uppercase;
					font-weight: 600;
					@media(max-width: 992px){
						font-size: 20px;
					}
			    }
			}
			&--icons {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				&-whats {
					display: flex;
					width: 200px;
					height: 30px;
					margin: 10px 0;
					justify-content: space-between;
					align-items: center;
					.text {
						color: #4682B4;
						font-family: 'Open-sans', serif;
						text-transform: uppercase;
						font-size: 13px;
					}
					.whatsapp {
						background: url(./../../../images/whatsapp-logo.png) no-repeat center;
						height: 30px;
						width: 30px;
						background-size: 25px;
						left: -10px;
						position: relative;
						a {
							display: inline-block;
							width: 100%;
							height: 100%;
						}
					}
				}
				&-social {
					display: flex;
					width: 200px;
					justify-content: space-around;
					.facebook {
						background: url(./../../../images/facebook-logo.png) no-repeat center;
						height: 30px;
						width: 30px;
						background-size: 25px;
						a {
							display: inline-block;
							width: 100%;
							height: 100%;
						}
					}
					.instagram {
						background: url(./../../../images/instagram-logo.png) no-repeat center;
						height: 30px;
						width: 30px;
						background-size: 25px;
						a {
							display: inline-block;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		&__pos {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			&--menu-desktop {
				display: flex;
				width: 100%;
				justify-content: center;
				background: #fff;
				@media (max-width: 993px) {
					display: none;
				}
				&--items {
					display: inline-block;
					width: 100%;
					text-align: center;
					ul {
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						height: 50px;
						.items--menu {
							display: flex;
							justify-content: space-between;
							a {
								color: #1f91cc;
								font-family: 'Lato', sans-serif;
								text-transform: uppercase;
								font-size: 16px;
								&:hover {
									color: #4682B4;
								}
							}
						}
					}
				}
			}
		}
		&__pos--menu-mobile {
			display: none;
			@media (max-width: 992px) {
				display: inline-block;
				.header__menu-mobile--hamburger {
					display: inline-block;
					width: 100%;
					height: auto;
					padding: 10px 0;
					div {
						background: #fff;
						width: 25px;
						height: 4px;
						margin: 5px 0;
					}
				}
				.header__pos--menu-mobile--close {
					display: none;
					&.active {
						display: block;
						color: #000;
						z-index: 10000;
					}
				}
				.header__pos--menu-mobile--background {
					display: none;
					&.active {
						display: block !important;
						position: fixed;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						background: #a2a2a2;
						opacity: 1;
						z-index: 9999;
					}
				}
				.header__pos--menu-mobile--items {
					display: none;
					&.active {
						display: block !important;
						position: relative;
						top: 0;
						height: 100%;
						width: 100%;
						left: 0;
						z-index: 10000;
						color: #000;
						ul {
							.items--menu {
								padding: 10px 0;
								a {
									color: #fff;
									font-size: 20px;
									font-family: 'Lato', sans-serif;
									letter-spacing: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
}