doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="A Clínica Odontológica F&F está há 34 anos construindo sorrisos no bairro de Higienópolis, contando com profissionais altamente qualificados e especialistas para seu melhor atendimento, proporcionando o que há de melhor na odontologia.")
        title Dentista em Higienópolis SP - FF Odontologia
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        link(rel="stylesheet", href="assets/css/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-128616818-1")
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-128616818-1');</script>
    body

        include ./header/main-header.pug
        include ./content/main-content.pug
        include ./footer/main-footer.pug

        script(src="assets/js/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax-element.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")

