doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FF Odontologia

        link(rel="stylesheet", href="assets/css/main.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")
    body

        include ./header/main-header.pug
        include ./content/main-content.pug
        include ./footer/main-footer.pug

        script(src="assets/js/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.10.3/jarallax-element.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")

